
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	 background-image: url("r.jpg");
	 
	  background-size: cover;
 height: 400px;
	 /* position: absolute;*/
	 background-position: right;
	 display: flex;
	  margin: 2;
	 /* min-height: 143vh;*/
	  flex-direction: column;
	 /* justify-content: center;*/
}
p {
  font-size: 2.5rem;
	margin-top:3rem;
	color: #996600;
	text-align: center;
	font-family:Lucida Console;
	padding: 20px;
}
h1{
	font-size: 3rem;
	margin-top:3rem;
	color: #D2691E;
	text-align: center;
	font-family:Lucida Console;
	padding: 20px;

}
.count-down{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;

}
.big-text{
	font-size: 6rem;
	line-height: 1px;
	margin: 5rem;
color:#996600;
font-weight: bold;
}	
span{
	font-size: 1.3rem;
	color:#996600;
}








